name: CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'

env:
  UPLOAD_BUILD: true

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python: [3.9]
        template:
          - "A"
          - "B"


    runs-on: ${{ matrix.os }}
    steps:
      - name: Python ${{ matrix.python }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}

      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install -U https://github.com/OS-Q/S03/archive/master.zip
          pio platform install https://github.com/OS-Q/P51/releases/latest/download/P51.zip

      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: OS-Q/T51${{ matrix.template }}
          token: ${{ secrets.OSQ_REPO_TOKEN }}
          path: T51${{ matrix.template }}

      - name: Build
        working-directory: T51${{ matrix.template }}
        if: success()
        id: build
        run: |
          pio run -d .
          echo "::set-output name=status::success"

      - name: Mark
        if: steps.build.outputs.status == 'success' && ${{ matrix.os }} == "ubuntu-latest"
        run: |
          echo -e "template T51${{ matrix.template }} on ${{ matrix.os }} test ok \n" >> report.txt

  report:
    needs:
      - check
    if: success()
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
          fetch-depth: 1

      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: report
          path: report.txt
