name: CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'

env:
  UPLOAD_BUILD: true

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python: [3.9]
        template:
          - "A"
          - "B"

    runs-on: ${{ matrix.os }}
    steps:
      - name: Python ${{ matrix.python }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}

      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install -U https://github.com/OS-Q/S03/archive/master.zip
          pio platform install https://github.com/OS-Q/P51/releases/latest/download/P51.zip

      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: OS-Q/T51${{ matrix.template }}
          token: ${{ secrets.OSQ_REPO_TOKEN }}
          path: T51${{ matrix.template }}

      - name: Build
        working-directory: T51${{ matrix.template }}
        if: success()
        id: build
        run: |
          pio run -d .
          echo "::set-output name=status::success"
          echo "template T51${{ matrix.template }} on ${{ matrix.os }} test ok" >> report.txt

      - name: Upload
        working-directory: T51${{ matrix.template }}
        if: steps.build.outputs.status == 'success' && !cancelled()
        uses: actions/upload-artifact@v2
        with:
          name: T51${{ matrix.template }}
          path: report.txt

      - name: notification
        uses: stopstopstop/mqtt-action@master
        with:
          protocol: mqtt
          host: ${{secrets.MQTT_SERVER}}
          port: 1883
          username: ${{secrets.MQTT_USERNAME}}
          password: ${{secrets.MQTT_PASSWORD}}
          topic: ${{github.repository}}
          message: ${{steps.build.outputs.status}}
